<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Tags</h1>

  <div id="tags">
    <% @tags.each do |tag| %>
      <%= render tag %>
      <p>
        <%= link_to "Show tag", tag_path(tag), class: "btn btn-primary show-post-link float-left" %>
      </p>
    <% end %>
  </div>

  <%= link_to "New tag", new_tag_path %>
</div>
<%= will_paginate(@tags) %>

