<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <% if post.user.present? %>
    <p>
      <strong>User:</strong>
      <%= post.user.email %>
    </p>
  <% end %>

  <p>
    <% if post.image.attached? %>
      <%= image_tag(post.image, style: "width: 200px") %>
    <% else %>
      No image available
    <% end %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>
  <p>
    <strong>Tags:</strong>
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </p>
  <p>
    <strong>Average Rating:</strong>
    <% if post.ratings.any? %>
      <%= @ratings.average(:value).round(2) %>
    <% else %>
      Not rated yet
    <% end %>
  </p>
  <%= form_with(model:[@topic,post, Rating.new]) do |f| %>
    <div class="field">
      <%= f.label "Rate this post:" %>
      <%= f.collection_radio_buttons :value, [[1, '1'], [2, '2'], [3, '3'], [4, '4'], [5, '5']], :first, :last %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Rating" %>
    </div>
  <% end %>
</div>
