
  <div id="<%= dom_id(post) %>" class="col-md-6 ">
    <div class="post-title">
      <strong>Title:</strong> <%= post.title %> <strong>(<%= post.topic.title %>)</strong>
    <div class="post-buttons">
      <%= link_to 'Edit', edit_topic_post_path(@topic, post), class: "btn btn-secondary btn-sm" if can? :update, post %>
      <%= button_to 'Destroy', topic_post_path(@topic, post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" if can? :delete, post %>
    </div>
    </div>

    <% if post.user.present? %>
      <p class="user-info">
        <strong>User:</strong> <%= post.user.email %>
      </p>
    <% end %>

    <div class="image-container">
      <% if post.image.attached? %>
        <%= image_tag(post.image, style: "width: 200px") %>
      <% else %>
        No image available
      <% end %>
    </div>

    <p class="post-content">
      <strong>Content:</strong> <%= post.content %>
    </p>
    <p class="tags">
      <strong>Tags:</strong>
      <% post.tags.each do |tag| %>
        <span style="color: black"><%= link_to tag.name, tag, class: "badge badge-primary mr-2" %></span>
      <% end %>
    </p>

    <p class="average-rating">
      <strong>Average Rating:</strong>
      <% if post.ratings.any? %>
        <% avg = post.rating_average %>
        <% while avg > 0 %>
          <span class="star-rating">&#9733;</span>
          <% avg = avg - 1 %>
        <% end %>
      <% else %>
        Not rated yet
      <% end %>
    </p>

    <div class="ratings">
      <% (1..5).to_a.reverse.each do |star| %>
        <div class="star-rating">
          <%= star %> Star Ratings: <%= post.ratings.where(value: star).count %>
        </div>
      <% end %>
    </div>

    <%= form_for([@topic, post, Rating.new], html: { class: "rating-form" }) do |f| %>
      <div class="form-group">
        <%= f.label "Rate this post:" %>
        <%= f.collection_radio_buttons :value, [[1, '1'], [2, '2'], [3, '3'], [4, '4'], [5, '5']], :first, :last, class: "form-check-input" %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit Rating", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_for([@topic, post, Comment.new]) do |form| %>
      <div class="form-group">
        <%= form.label :content %>
        <%= form.text_field :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.submit "Submit Comment", class: "btn btn-primary" %>
      </div>
    <% end %>

    <strong>Comments:</strong><br>
    <% @comments.each do |comment| %>
      <div class="comment-container">
        <%= render partial: 'comments/comment', collection: @post.comments %>
        <div class="comment-actions">
          <%= link_to 'View Ratings', topic_post_comment_user_comment_ratings_path(post.topic, post, comment) %>
          <%= render "usercommentrating", topic: post.topic, post: post, comment: comment, usercommentrating: UserCommentRating.new %>
          <% if can? :update, comment %>
            <%= link_to 'Edit', edit_topic_post_comment_path(@topic, post, comment), class: "btn btn-secondary btn-sm" %>
          <% end %>
          <% if can? :delete, comment %>
            <%= button_to 'Destroy', topic_post_comment_path(@topic, post, comment), method: :delete, class: "btn btn-danger btn-sm" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


<style>
    /* Style for the post container */


</style>