<div class="container-fluid">
  <div id="<%= dom_id(post) %>" class="col-md-6">

    <p class="post-title">
      <strong>Title:</strong><%= post.title %>&nbsp;&nbsp;&nbsp;<strong>(<%= post.topic.title %>)</strong>
    </p>

    <% if post.user.present? %>
      <p>
        <strong>User:</strong>
        <%= post.user.email %>
      </p>
    <% end %>

    <div class="image-container">
      <% if post.image.attached? %>
        <%= image_tag(post.image, style: "width: 200px") %>
      <% else %>
        No image available
      <% end %>
    </div>

    <p class="post-content">
      <strong>Content:</strong><%= post.content %>
    </p>
    <p class="tags">
      <strong>Tags:</strong>
      <% post.tags.each do |tag| %>
        <span style="color: black"><%= link_to tag.name, tag, class: "badge badge-primary mr-2", style: "color:black"%></span>
      <% end %>
    </p>

    <p class="average-rating">
      <strong>Average Rating:</strong>
      <% if post.ratings.any? %>
        <% avg = post.rating_average %>
        <% while avg>0 %>
          <span class="star-rating">&#9733;</span>
          <% avg=avg-1 %>
          <% end %>
        <!--<span class="star-rating">&#9733;</span> <%= post.rating_average %>-->
      <% else %>
        Not rated yet
      <% end %>
    </p>

    <div class="ratings">
      <% (1..5).to_a.reverse.each do |star| %>
        <div class="star-rating">
          <%= star %> Star Ratings:
          <%= post.ratings.where(value: star).count %>
        </div>
      <% end %>
    </div>

    <%= form_for([@topic, post, Rating.new], html: { class: "rating-form" }) do |f| %>
      <div class="form-group">
        <%= f.label "Rate this post:" %>
        <%= f.collection_radio_buttons :value, [[1, '1'], [2, '2'], [3, '3'], [4, '4'], [5, '5']], :first, :last, class: "form-check-input" %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit Rating", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_for([@topic,post,Comment.new]) do |form| %>
      <div class="field">
        <%= form.label :content %>
        <%= form.text_field :body %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>

    <strong>Comments:</strong><br>
    <% @comments.each do |comment| %>
      <strong><%= comment.user.email %></strong>&nbsp;&nbsp;&nbsp;
      <%= comment.body %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'View Ratings', topic_post_comment_user_comment_ratings_path(post.topic,post,comment) %>&nbsp;&nbsp;&nbsp;
      <%= render "usercommentrating", topic: post.topic,post: post, comment: comment,usercommentrating: UserCommentRating.new %>

      <% if can? :update, comment %>
        <%= link_to 'Edit', edit_topic_post_comment_path(@topic, @post, comment) %>
      <% end %>
      &nbsp;&nbsp;&nbsp;
      <% if can? :delete, comment %>
        <%= button_to 'Destroy', topic_post_comment_path(@topic, @post, comment), method: :delete %>
      <% end %><br>
    <% end %>

  </div>
</div>
<style>
  *{
      color: #2E2F30;
  }
</style>